body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', sans-serif;
}

h1 {
  font-size: 70px;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {}

.bottom-container {
  padding: 30px;
  background-color: #66BFBF;
}

.top-cloud {
  position: absolute;
  right: 150px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 180px;
  bottom: 300px;
}

.skillicon {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.profile {
  width: 50%;
  color: #40514E;
  margin:100px auto 100px auto;
}

hr {
  width: 10%;
  border: 10px;
  border-top-style: dotted;
  border-color: #EAF6F6;
}

.Howie {
  border-radius: 100%;
  width: 150px;
  height: 200px;
  line-height: 2;
}

.spin {
  width: 45%;
  float: right;
  margin-left: 30px;
}

.footer-link {
  color: #11999E;
  margin-left: 30px;
  line-height: 2;
  font-family: 'Montserrat', sans-serif;
}

.subtitle {
  font-weight: normal;
}

.skills {
  margin-top: 100px;
}

.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;
}


.copyright {
  color: #EAF6F6;
  font-size: 10px;
}
.contact-me {
  width: 50%;
  margin:100px auto 100px auto;

}

.contact-message {
  margin: 40px auto 60px;
}

.btn {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.btn:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
.btn:active {
	position:relative;
	top:1px;
}
